<h1>RESTAURANTS</h1>


<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %> |
  <%= restaurant.address %> |
  <strong><%= restaurant.category %></strong> |
  <%= link_to 'Add a review', new_restaurant_review_path(restaurant) %>
  <br>
  <hr>
<% end %>

<%= link_to "Add a restau", new_restaurant_path %>
