<h1>ADD A REVIEW TO THE RESTAU <%= @restaurant %> </h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Add review" %>
<% end %>
